.card{
  background-color: whitesmoke;
  width:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:20px;
}
.text{
  text-align: center;
}
.user-data{
  background-color: rgb(216, 216, 216);
  height:100px;
  width:400px;
  margin-top:20px;
  display:flex;
  align-items:center;
  
}
.image-div{
  width:60px;
  height:60px;

  border-radius: 50px;
}
.usercontent{
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-left:10px
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width:500px;
  margin:auto;
  padding: 30px 70px;
}

.pagination-controls button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}